body {
    header {
        height: 100px;
        background-color: rgb(255, 255, 93);

        nav {}
    }

    #top {
        background-color: grey;

        main {
            h1 {
                color: green;
            }

            h2 {
                color: blue;
                display: block;

                .hiddenText {
                    display: none;
                }

                &:hover {
                    color: black;
                    transition: 0.5s;

                    .hiddenText {
                        color: blue;
                        display: flex;
                        padding: 50px 0px;
                    }
                }
            }
        }
    }

    #middle {
        background-color: aqua;
    }
}